alembic==1.14.1
annotated-types==0.7.0
anyio==4.8.0
asttokens==3.0.0
AWRS==2019.8.14.1152
banal==1.0.6
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
dataset==1.6.2
decorator==5.1.1
docopt==0.6.2
executing==2.2.0
fastapi==0.115.8
folktales==2018.5.3.245
fonttools==4.56.0
greenlet==3.1.1
h11==0.14.0
idna==3.10
ipython==8.32.0
ipywidgets==8.1.5
jedi==0.19.2
joblib==1.4.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
matrix-client==0.4.0
megaparsex==2018.2.12.2333
numpy==2.2.3
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.10.6
pydantic_core==2.27.2
pyfiglet==1.0.2
Pygments==2.19.1
pyparsing==3.2.1
pyprel==2018.9.14.1501
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
scalar==2018.9.10.2016
scalar_fastapi==1.0.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shijian==2023.10.19.215
six==1.17.0
sniffio==1.3.1
SQLAlchemy==1.4.54
stack-data==0.6.3
starlette==0.45.3
technicolor==2017.1.16.1544
threadpoolctl==3.5.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
uvicorn==0.34.0
wcwidth==0.2.13
widgetsnbextension==4.0.13
